* {
 box-sizing: border-box;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 14px;
 color: #555555
}

body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

header h1 {
    margin-top: 0;
    color: #DD5735;
}

header p {
    color: #726c66;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
    color: #333
}

main section {
    width: 70%;
}

main section ul {
list-style: none;
display:flex;
width: 100%;
border: 1px dashed #DD5735;
padding: 0
}

main section ul li {
    height: 70px;
    width: 60px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.fdrr {
    flex-direction: row-reverse;
}

.fdc {
    flex-direction: column;
}

.fdcr {
    flex-direction: column-reverse;
}

.fdc li, .fdcr li {
    width: 100%;
    justify-content: flex-start;
    padding-left: 15px;
}

.nw {
    width: 25%;
    flex-wrap: nowrap;
}
.nw li{
    flex-shrink: 0;
}

.w {
    width: 25%;
    flex-wrap: wrap;
}

.aic {
    align-items: center;
}
.aic li:nth-child(odd) {
    height: 100px;
}

.aifs {
    align-items: flex-start;
}
.aifs li:nth-child(odd) {
    height: 100px;
}

.aife {
    align-items: flex-end;
}
.aife li:nth-child(odd) {
    height: 100px;
}

.jcc {
    justify-content: center;
}

.jcfe {
    justify-content: flex-end;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.jcse {
    justify-content: space-evenly;
}

.or li:nth-child(1) {order: 4;}
.or li:nth-child(2) {order: 2;}
.or li:nth-child(3) {order: 6;}
.or li:nth-child(4) {order: 1;}
.or li:nth-child(5) {order: 3;}
.or li:nth-child(6) {order: 5;}

.gr li {
    justify-content: flex-start; 
    padding: 25px;
}
.gr li:nth-child(1) {flex-grow: 1;}
.gr li:nth-child(2) {flex-grow: 1;}
.gr li:nth-child(3) {flex-grow: 2;}
.gr li:nth-child(4) {flex-grow: 1;}
.gr li:nth-child(5) {flex-grow: 1;}
.gr li:nth-child(6) {flex-grow: 1;}

.sh li {
    width: 100%;
    justify-content: flex-start; 
    padding: 25px;
}
.sh li:nth-child(1) {flex-shrink: 1;}
.sh li:nth-child(2) {flex-shrink: 1;}
.sh li:nth-child(3) {flex-shrink: 2;}
.sh li:nth-child(4) {flex-shrink: 1;}
.sh li:nth-child(5) {flex-shrink: 1;}
.sh li:nth-child(6) {flex-shrink: 1;}

.gr2 {
    height: 400px;
    width: 100%;
    justify-content: space-evenly;
    align-items:center
}
.gr2 li:nth-child(odd) {
    width :20%;
}
.gr2 li:nth-child(even) {
    width: 45%;
}

.gr2 li {
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}